@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Ukraine International Airlines (UIA) was established on 1 October 1992, and started operations on 25 November 1992 with a Kiev-London flight. It was one of the first "joint ventures with foreign capital" in Ukraine and the first airline in the former Soviet Union to use new Boeing 737-400 aircraft.<br />
    The founding shareholders were the Ukrainian Association of Civil Aviation and Guinness Peat Aviation (GPA), an Irish aircraft-leasing company. In 1996, Austrian Airlines and Swissair became shareholders, investing US$9 million in new equity.<br />
    <b>UIA connects Ukraine to over 80 destinations in Europe, Asia and the Middle East, as well as to New York City,[10] from its base at Boryspil Airport, and also operates domestic flights. UIA serves over 1000 flights per week.</b>
</p>
