@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ukraine International Airlines (UIA) <br />
    Zdobutok<br />
    Cherkas'ka oblast<br />
    Ukraine<br />
    20409<br />
    <abbr title="Phone">Contact Number:</abbr>
    082.335.414
</address>

<address>
    <strong>Support Department:</strong>   <a href="mailto:UIASupport@example.com">UIASupport@example.com</a><br />
    <strong>Marketing Department:</strong> <a href="mailto:UIAmarket@example.com">UIAMarket@example.com</a>
</address>