@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <h1>Ukraine International Airlines (UIA)</h1>
    <p class="lead">Ukraine International Airlines (UIA) is the flagship carrier and largest airline in Ukraine. It operates domestic and international passenger flights and cargo services to Europe, the Middle East, the United States, and Asia.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="content">
            <h2><b>Booking.com</b></h2>
            <p>
                Looking for properties near Ukraine International Airlines (UIA)?<br />
                Then you've come to the right place! Enter your dates and choose from 74 properties.
            </p>
            <p><a class="btn btn-default" href="https://www.booking.com/landmark/ua/stantsiya-kiyer-passazhirskiy.html">Find out more &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="content2">
            <h2><b>10 Must See Places in Ukraine | Travel to Ukraine</b></h2>
            <p>Discover 10 must see places in Ukraine. Travel to Ukraine is the official travel website and guide of Ukraine.</p>
            <p><a class="btn btn-default" href="http://www.traveltoukraine.org/mustsee.htm">Learn more &raquo;</a></p>
        </div>
    </div>

</div>